<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>
<body>
  <div id="app">
      <form  class="layui-form" id="loginfrom" >
          <input v-model='username' name="username" placeholder="用户名"   type="text" lay-verify="required" class="layui-input" >
          <hr class="hr15">
          <input v-model='password' name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
          <hr class="hr15">
          <input  value="登录" lay-submit lay-filter="login" style="width:100%;"  @click='submit'>
          <hr class="hr20" >
      </form>
  </div>
 
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          username: '',
          password: ''
        }
      },
      methods: {
        submit() {
          console.log(this.username)
          console.log(this.password)
          axios.post('localhost:4666/User/login', {
            username: this.username,
            password: this.password
          }).then((data) => {
            console.log(data)
          }).catch(err => {
            console.log(err)
          })
        }
      }
    })
  </script>
</body>
</html>